/* Responsive CSS Styles Table of Contents */

@media only screen and (min-width: 1000px) and (max-width: 1169px){
.container {
	width: 1000px;
	margin: auto;
}

.feature_section5 .one_fourth_less{
	padding:40px 18px 50px 18px;
}
.feature_section5 .one_fourth_less{
	padding:40px 25px 50px 25px;
}
.button.one {
	padding:14px 10px ;
}
.feature_section1 .icon{
	width: 15%;

}

}



@media only screen and (min-width: 768px) and (max-width: 999px){


.container {
	width: 747px;
	margin: auto;
}
.feature_section1 .box1{
	width:100%;
	padding-right:30px;
	padding-left:10px;
}


.feature_section1 .contant {
	width:100%;
	padding:30px 30px 30px 20px;
}

.feature_section1 .box2{
	width:100%;
	padding-right:30px;
	padding-left:10px;
}
.feature_section1 .box3{
	width:100%;
	padding-right:30px;
	padding-left:10px;
}
.feature_section3 {
	background-repeat:repeat-y;
}
.feature_section4 .boxed01{
	width:33.333%;
}
.feature_section4 .boxed02{
	width:33.333%;
}
.feature_section4 .boxed03{
	width:33.333%;
}
.feature_section4 #site-searchform #s{
	width:50%;
}
.feature_section5 {
	background-repeat:repeat-y;
}
.feature_section5 .one_fourth_less{
	padding:40px 10px 50px 10px;
}
.feature_section5 .contant{
	margin-top:100px;
}
.button.one {
	padding:14px 6px ;
}

.button.five {
	margin-left:-170px;
}	
.feature_section7 .contant {
	margin-left:10%;
	margin-right:10%;
}



}


@media only screen and (min-width: 480px) and (max-width: 639px){

/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive,
.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 0%;
	float: left;
}
.one_full,
.one_half,
.one_third,
.one_fourth,
.one_fifth,
.two_third,
.three_fourth,
.onecol_forty,
.onecol_sixty,
.onecol_thirtyfive,
.one_full_less,
.one_half_less,
.one_third_less,
.one_fourth_less,
.one_fifth_less,
.two_third_less,
.three_fourth_less,
.onecol_forty_less,
.onecol_sixty_less,
.onecol_thirtyfive_less {
	width: 100%;
	margin-bottom: 50px;
}
.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.container {
	width: 440px;
	margin: auto;
}
.feature_section1 .box1{
	width:100%;
}
.feature_section1 .contant {
	width:100%;
}
.feature_section1  i{
	margin-left:200px;
	margin-bottom:-55px;
}
.feature_section1 .box2{
	width:100%;
}
.feature_section1 .box3{
	width:100%;
}
.feature_section4 .boxed01{
	width:100%;
}
.feature_section4 .boxed02{
	width:100%;
}
.feature_section4 .boxed03{
	width:100%;
}
.feature_section4 #site-searchform #s{
	width:75%;
}
.feature_section5 .contant{
	width:100%;
	margin-left:0px;
	margin-top:0px;
	
}

.button.one {
	padding:12px 16px;
}
.button.two {
	padding:12px 18px;
}
.button.five {
	margin-left:20px;
}



}





@media only screen and (max-width: 479px){

/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive,
.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 0%;
	float: left;
}
.one_full,
.one_half,
.one_third,
.one_fourth,
.one_fifth,
.two_third,
.three_fourth,
.onecol_forty,
.onecol_sixty,
.onecol_thirtyfive,
.one_full_less,
.one_half_less,
.one_third_less,
.one_fourth_less,
.one_fifth_less,
.two_third_less,
.three_fourth_less,
.onecol_forty_less,
.onecol_sixty_less,
.onecol_thirtyfive_less {
	width: 100%;
	margin-bottom: 50px;
}
.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.container {
	width: 300px;
	margin: auto;
}
.logo {
	width: 90%;
}
.menu_main {
	width: 93%;
	position: absolute;
}
.top_nav  {
	width: 100%;
	margin:0px 0px;

}
.top_nav .left {
	width: 100%;
	margin:0px 0px;

}
.top_nav .right {
	width: 100%;
	margin:0px 0px;

}
.slidermar {
	margin-top: 80px;
}
.button.one {
	padding:12px 16px;
}
.button.two {
	padding:12px 18px;
}

